<%= form_for @user do |u| %>
<div>
  <%= u.label :first_name %>
  <%= u.text_field :first_name %>
</div>
<div>
  <%= u.label :last_name %>
  <%= u.text_field :last_name %>
</div>
<div>
  <%= u.label :email_address %>
  <%= u.text_field :email_address %>
</div>
  <%= u.submit %>
<% end %>

<p><%= link_to 'Back', "/users" %></p>