<%= form_for @video do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>
<div>
  <%= f.label :youtube_id %>
  <%= f.text_field :youtube_id %>
</div>
<div>
  <%= f.label :subtitle %>
  <%= f.text_field :subtitle %>
</div>
  <%= f.submit %>
<% end %>